.contenedor-lista-unidades, .contenedor-lista-usuarios {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
}

.titulo {
  text-align: center;
  margin-bottom: 20px;
  font-size: 1.8rem;
  color: #1db954; 
}

.boton-grupo {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 20px;
}

.boton-grupo button {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #1db954; 
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.boton-grupo button:hover {
  background-color: #1ed760;
}

.boton-grupo button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.tabla-unidades, .tabla-usuarios {
  width: 100%;
  border-collapse: collapse;
}

.tabla-unidades th, .tabla-usuarios th, 
.tabla-unidades td, .tabla-usuarios td {
  border: 1px solid #191414; 
  padding: 12px;
  text-align: left;
  color: white; 
}

.tabla-unidades th, .tabla-usuarios th {
  background-color: #1db954; 
  color: white; 
}

.tabla-unidades td, .tabla-usuarios td {
  background-color: #191414; 
}

.text-center {
  text-align: center;
  color: white;
}

.btn-warning {
  background-color: #1ed760;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.btn-danger {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .tabla-unidades, .tabla-usuarios {
      display: block;
      overflow-x: auto;
      white-space: nowrap;
  }
}
