.fondo_formulario {
    background-color: #191414; /* Fondo negro similar a Spotify */
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor_formulario {
    background-color: #1db954; /* Verde Spotify */
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
}

.contenedor_formulario h2 {
    margin-bottom: 20px;
    color: #fff; /* Texto blanco para contraste */
    text-align: center;
}

.inputs_formulario {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

label {
    margin-bottom: 8px;
    font-size: 14px;
    color: #fff; /* Texto blanco para contraste */
    display: block;
}

.registrar_usuario {
    background-color: #1db954; /* Verde Spotify */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s ease;
}

.registrar_usuario:hover {
    background-color: #1ed760;
}

p {
    color: #ff0000;
    text-align: center;
    margin-bottom: 10px;
}
