
  
  h2 {
    text-align: center; /* Centra el título */
    color: #333; /* Color del texto del título */
    margin-bottom: 15px; /* Espacio debajo del título */
  }
  
  .input-group {
    margin-bottom: 15px; /* Espacio entre campos */
  }
  
  .input-group label {
    display: block; /* Muestra la etiqueta en bloque */
    margin-bottom: 5px; /* Espacio debajo de las etiquetas */
  }
  
  .input-group input,
  .input-group select {
    width: 100%; /* Ancho completo */
    padding: 8px; /* Espaciado interno */
    border: 1px solid #ccc; /* Borde gris */
    border-radius: 4px; /* Bordes redondeados */
  }
  
  .button-group {
    text-align: center; /* Centra los botones */
  }
  
  .button-group button {
    background-color: #007bff; /* Color de fondo del botón */
    color: white; /* Color del texto del botón */
    border: none; /* Sin borde */
    padding: 10px 15px; /* Espaciado interno */
    border-radius: 4px; /* Bordes redondeados */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    margin: 0 5px; /* Espacio entre botones */
  }
  
  .button-group button:hover {
    background-color: #0056b3; /* Color del botón al pasar el cursor */
  }
  