.fondo_gestion_usuarios {
    background-color: #000000;
    height: 100vh; 
    overflow: auto;
    width: 100%; 
}


.lista_usuarios {
    width: 100%;
    max-width: 1400px; 
    margin: 20px auto;
}
