.fondo_oficina {
    background-color: #191414; 
    background-position: center;
    background-size: cover; 
    display: flex;
    height: 100vh; 
    flex-wrap: wrap;
    overflow: auto; 
}

.contenedor_inicio_oficina {
    background-color: #1db954; 
    flex: 0 1 60%; 
    min-height: 200px; 
    padding: 15px;
    border-radius: 5px;
    margin: 10px; 
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); 
    box-sizing: border-box; 
}

.contenedor_inicio_oficina1 {
    background-color: #1db954; 
    flex: 0 1 35%; 
    min-height: 200px; 
    padding: 15px;
    border-radius: 5px;
    margin: 10px; 
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); 
    box-sizing: border-box; 
}

.fondo_oficina button {
    color: #1db954; 
    background-color: #121212; 
    padding: 10px 20px;
    border: none;
    border-radius: 50px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.fondo_oficina button:hover {
    background-color: #1aa34a; 
    transform: translateY(-2px); 
}

@media (max-width: 1024px) {
    .contenedor_inicio_oficina,
    .contenedor_inicio_oficina1 {
        flex: 0 0 100%;
        height: auto; 
    }
}

@media (max-width: 768px) {
    .contenedor_inicio_oficina,
    .contenedor_inicio_oficina1 {
        margin: 5px; 
        padding: 10px; 
        min-height: 150px; 
    }
}
