.asientos-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    align-content: center;
}

.asiento {
    width: calc(33.33% - 10px);
    text-align: center;
}

@media (max-width: 768px) {
    .asiento {
        width: calc(50% - 10px);
    }
}
.asiento{
    color: #fff;
}