.button-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 10px;
}

.button-grid button {
    width: 100%;
    border-radius: 5px; 
    font-size: 1rem; 
    transition: background-color 0.3s ease; 
}

.btn-disponible {
    background-color: #1db954; 
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.btn-disponible:hover {
    background-color: #16b43d; 
}

.btn-reservado {
    background-color: #191414; 
    color: white;
    border: none;
    padding: 10px;
}

.btn-reservado:hover {
    background-color: #121212;
}
