.fondo_Ticket{
    background-color: aquamarine;
    padding: 20px;

}

.ticket {
    width: 200px; /* Ancho del boleto */
    padding: 15px;
    border: 2px solid #007bff; /* Color del borde */
    border-radius: 10px;
    background-color: #f9f9f9; /* Color de fondo */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    font-family: 'Courier New', Courier, monospace; /* Fuente tipo boleto */
    position: relative;
  }
  
  .ticket-header {
    text-align: center;
    background-color: #007bff; /* Fondo azul */
    color: white; /* Texto blanco */
    padding: 10px;
    border-radius: 8px 8px 0 0; /* Bordes superiores redondeados */
  }
  
  .ticket-body {
    margin-top: 10px;
    font-size: 14px; /* Tamaño de fuente más pequeño */
  }
  
  .ticket-detail {
    line-height: 1.6; /* Espaciado entre líneas */
  }
  
  .ticket-footer {
    margin-top: 15px;
    text-align: right; /* Alinear el botón a la derecha */
  }
  
  .ticket-footer .btn {
    font-weight: bold; /* Texto más audaz en el botón */
  }
  