.una_tarjeta, .dos_tarjetas {
  width: 100%;
  box-sizing: border-box;
}

.dos_tarjetas {
  margin-top: 0px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

button{
  background-color: #1db954;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 50px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
button:hover{
  background-color: #ffffff;
  color: #1aa34a;
}
.una_tarjeta {
  display: flex;
  justify-content: center; 
  align-items: center; 
  background-color: #282828;
  border-radius: 10px;
  padding: 20px;
  color: #fff;
}

.dos_tarjetas > * {
  width: 100%;
  max-width: 400px;
  height: auto; 
  background-color: #191414;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  color: white;
}

.una_tarjeta > * {
  width: 100%;
  max-width: 420px;
  height: auto;
}

.dos_tarjetas > *, .una_tarjeta > * {
  border: 1px solid #1db954;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.dos_tarjetas > *:hover, .una_tarjeta > *:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

@media (min-width: 768px) {
  .dos_tarjetas {
    flex-direction: row;
    justify-content: center;
  }
}
