.Tarjeta {
    background-color: rgba(0, 0, 0, 0.8); 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(30, 215, 96, 0.35); 
    border-radius: 10px;
    padding: 10px; 
    overflow: hidden; 
    color: white; 
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
}

.Tarjeta-Titulo {
    text-align: center;
    font-size: 1.5rem;
    color: #1db954; 
}


.Tarjeta-Contenido {
    text-align: center;
    font-size: 1rem;
    color: #fff; 
}

.Tarjeta:hover {
    transform: translateY(-5px); 
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.6);
}


@media (max-width: 768px) {
    .Tarjeta {
        padding: 15px;
    }
}
